div#bgContainer {
    background-image: url('immagini/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    padding-top: 30px;
    padding-bottom: 60px;
}
#container {
    background-color: rgb(0, 0, 0,0.5);
    /* margin: 20px 50px 33px 42px; */
    width: 70%;
    margin:auto;
    border-radius: 10px;
    
     padding: 8% 6%;
}
#logo{
    width: 25%;
    margin: auto;
    text-align: center;
    display: block;
}
#title p{
    font-weight: bold;
    text-align: center;
    color: #00dd00;
    font-size: 21pt;
    margin-top: 5px;
    margin-bottom: 5px;
}
#funzioni{
    text-align: center;
    background-color: #00dd00;
    padding: 10px;   
}
.listaOggetto{
    color: white;
    font-size: 14pt;
    margin-top: 5%;
    margin-bottom: 5%;
}

.titoloOggetto{
    font-weight: bold;
    font-size: 20pt;
    cursor: pointer;

    
}
.titoloOggetto label{
    cursor: pointer;
}

.indirizzoOgetto{
    font-size: 14pt;  
}

.statoCarica{
    margin-left: 20px;
    margin-right: 0%;
}
.statoCarica p{
    margin-top: 0%;
    margin-bottom: 0%;

}
.barraCarica{
    height: 30px;
    border-radius: 5px;
    

}
#barraCarica1{
    background-color:orange ;
    width: 30%;
}
#barraCarica2{
    background-color:#00dd00 ;
    width: 80%;
}
#barraCarica3{
    background-color: red;
    width: 20%;
}
